{% extends 'base.html' %} {% block content %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" type="text/css" />
</head>
<style type="text/css">
    img {
        display: block;
        max-width: 100%;
    }
    
    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
    }
    
    .float-container {
        border: 3px solid #fff;
        padding: 20px;
    }
    
    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
    }
</style>

<h1 style="text-align:center; font-size:50px;"> <strong>TRANSLATOR GURU</strong> </h1>
<p style="text-align:center; font-size:20px;"> <strong>Helping You Understand The World</strong> </p>

<!--<script>
function myFunction() {
  document.getElementById("adi").style.display = "block";
}
</script> -->
<script>
    function myFunction() {
        document.getElementById("audiofile").style.display = "block";
    }
</script>


<center>
    <img style="padding-bottom: 50px;" src="static/images/translation.png" alt="Translation" />
</center>

<body>

    <div class="form-group" method="GET">
        <label> <strong>Capture OR Upload Your Image</strong> </label>
        <form style="padding-bottom: 20px;" action="{{url_for ('video') }}" method="GET">
            <input type="submit" id=capture value="Capture Image" action="{{url_for ('video') }}">
        </form>
        <div class="container">
            <div class="float-child">
                <form enctype=multipart/form-data style="padding-bottom: 20px;" action="{{url_for ('index') }}" method=post>
                    <input type="file" name="image" class="image" accept="image/*;capture=camera">
                    <!--input type=submit id=upload value=Upload-->


                    <br>
                    <label style="padding-top: 20px;"> <strong>Select A Language</strong> </label>
                    <br>
                    <label style="padding-bottom: 10px; padding-top: 10px" method=post>
            <label for="language">Language:</label>
                    <select id="language" name="language">
                <option value="en">English</option>
                <option value="zh">Chinese(Mandarin)</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
                <option value="ru">Russian</option>
                <option value="hi">Hindi</option>
                <option value="ko">Korean</option>
                <option value="ja">Japanese</option>
                <option value="ar">Arabic</option>
                <option value="bn">Bengali</option>
                <option value="da">Danish</option>
                <option value="nl">Dutch</option>
                <option value="fil">Filipino</option>
                <option value="fi">Finnish</option>
                <option value="de">German</option>
                <option value="el">Greek</option>
                <option value="gu">Gujrati</option>
                <option value="hu">Hungarian</option>
                <option value="id">Indonesian</option>
                <option value="kn">Kannada</option>
                <option value="ml">Malayalam</option>
                <option value="cmn">Mandarin Chinese</option>
                <option value="nb">Norwegian</option>
                <option value="pl">Polish (Poland)</option>
                <option value="pt">Portuguese</option>
                <option value="ro">Romanian</option>
                <option value="sk">Slovak (Slovakia)</option>
                <option value="sv">Swedish (Sweden)</option>
                <option value="ta">Tamil</option>
                <option value="te">Telgu</option>
                <option value="th">Thai</option>
                <option value="tr">Turkish</option>
                <option value="uk">Ukrainian(Ukraine)</option>
                <option value="vi">Vietnamese (Vietnam)</option>
            </select>
                    <input type="submit" id=translate name="Start_translate" value=Translate>
                    </label>
                    <br>
                    <label> <strong>Check Your Results</strong> </label>
                    <p> Translated Audio </p>
                    <div>
                        <!-- <img src= "../Image.jpg"> -->
                        <!-- <img src="{{url_for('static', filename='Image.jpg')}}" /> -->
                        <audio style="float: left;" id="audiofile" display="none" controls>
            <source src="{{url_for('static', filename='output.mp3')}}" type = "audio/mpeg"></source>
        </audio>
                        <a class="bordered" style="font-size:18px;border:2px; black solid;border-color:#FF0000; padding: 3em;" id="demo"></a>
                    </div>
                </form>

            </div>
            <div class="float-child">
                <img style="padding-bottom: 50px;float: left;" src="{{url_for('static', filename='captures/Image.jpg')}}" alt="Translation" height="300px" width="230px" />
            </div>

        </div>

    </div>


    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Crop image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <div class="row">
                            <div class="col-md-8">
                                <!--  default image where we will set the src via jquery-->
                                <img id="image">
                            </div>
                            <div class="col-md-4">
                                <div class="preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="crop">Crop and Save</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/cropperjs" type="text/javascript"></script>
    <script>
        var bs_modal = $('#modal');
        var image = document.getElementById('image');
        var cropper, reader, file;


        $("body").on("change", ".image", function(e) {
            var files = e.target.files;
            var done = function(url) {
                image.src = url;
                bs_modal.modal('show');
            };


            if (files && files.length > 0) {
                file = files[0];

                if (URL) {
                    done(URL.createObjectURL(file));
                } else if (FileReader) {
                    reader = new FileReader();
                    reader.onload = function(e) {
                        done(reader.result);
                    };
                    reader.readAsDataURL(file);
                }
            }
        });

        bs_modal.on('shown.bs.modal', function() {
            cropper = new Cropper(image, {
                viewMode: 1,
                preview: '.preview'
            });
        }).on('hidden.bs.modal', function() {
            cropper.destroy();
            cropper = null;
        });

        $("#crop").click(function() {
            canvas = cropper.getCroppedCanvas({

            });

            canvas.toBlob(function(blob) {
                url = URL.createObjectURL(blob);
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function() {
                    document.getElementById("demo").innerHTML = "Test";
                    var base64data = reader.result;
                    /*  $.ajax({
                        type: "POST",
                        url: "http://url/hook",
                        data:{
                          imageBase64: base64data
                        }
                      }).done(function() {
                        console.log('sent');
                      });*/
                    //let token = localStorage.getItem('token')
                    //localStorage.setItem("token", "{{token}}");
                    //let canvas = document.getElementById('myCanvas');
                    //let dataURL = canvas.toDataURL('image/png');
                    jQuery.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "http://0.0.0.0:5000/hook",
                        data: {
                            imageBase64: base64data
                        },
                        success: function(data) {
                            bs_modal.modal('hide');
                            alert("success upload image");
                        }
                    }).done(function(response) {
                        bs_modal.modal("hide");
                        console.log('sent');
                    });
                    // document.body.appendChild(canvas);
                    // document.getElementById("demo").appendChild(canvas);
                    //let downloadLink = document.createElement('a');

                    //downloadLink.setAttribute('download', 'CanvasAsImage.png');
                    //let canvas = document.getElementById('myCanvas');
                    //let dataURL = canvas.toDataURL('image/png');
                    //document.write('<img src="'+dataURL+'"/>');
                    //let url = dataURL.replace(/^data:image\/png/,'data:application/octet-stream');
                    //downloadLink.setAttribute('href', url);
                    //downloadLink.click();
                    cropper.crop()

                };
            });

        });
    </script>
    <div class="form-group" method="GET">

    </div>

    <form value=Translate action="{{url_for ('index') }}" method=post>

        <!--div class="form-group">
        <label for="content">Content</label>
        
        <p name="content" placeholder="Image content"
                  class="form-control">{{ content1 }}</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div-->
        <p> Translated Text </p>
    </form>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="background-color:#FFFFFF; text-align:center;" scope="col">Orignal</th>
                <th style="background-color:#FFFFFF; text-align:center;" scope="col">Translated</th>
            </tr>
        </thead>
        <tbody>
            {% for row in text %}
            <tr>
                {% for cell in row %}
                <td> {{ cell }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="subtitles"></div>
    <script>
        (function(win, doc) {
            // var table = document.querySelector("table");
            // var thead = table.createTHead();
            // var row = thead.insertRow();

            var audioPlayer = doc.getElementById("audiofile");
            var subtitles = doc.getElementById("subtitles");
            // var someJavaScriptVar = '{{ content }}';

            var syncData = {
                {
                    content | tojson
                }
            };
            var finalTextList = {
                {
                    finalTextList | tojson
                }
            };

            var body = document.body,
                tbl = document.createElement('table');
            tbl.align = 'center';

            function tableCreate() {

                <!--document.getElementById("demo").innerHTML = syncData;-->

                <!--for(var i = 0; i < finalTextList.length; i++){-->
                <!--    var tr = tbl.insertRow();-->
                <!--    for(var j = 0; j < 2; j++){-->
                <!--      {-->
                <!--            var td = tr.insertCell();-->
                <!--            -->
                <!--            td.appendChild(document.createTextNode(finalTextList[i].text));-->
                <!--            td.style.border = '1px solid black';-->
                <!--            td.style.padding = '1px 150px'-->
                <!--        }-->
                <!--    }-->
                <!--}-->
                <!--for(var i = 0; i < finalTextList.length; i++){-->
                <!--    setTimeout(function timer() {-->
                <!--        document.getElementById("demo").innerHTML = finalTextList[i];-->
                <!--    }, 3000);-->
                <!--}-->
                const timer = ms => new Promise(res => setTimeout(res, ms))

                async function load(t) { // We need to wrap the loop into an async function for this to work
                    for (var i = 0; i < finalTextList.length; i++) {
                        document.getElementById("demo").innerHTML = finalTextList[i];
                        await timer(t); // then the created Promise can be awaited
                    }
                }

                document.getElementById("demo").innerHTML = "Test";
                body.appendChild(tbl);
                audioPlayer.addEventListener("timeupdate", function(e) {
                    <!--load(t); -->
                    <!--document.getElementById("demo").innerHTML = audioPlayer.currentTime;-->
                    <!--document.getElementById("demo1").innerHTML = finalTextList[i];-->
                    finalTextList.forEach(function(element, index, array) {
                        <!--    if( audioPlayer.currentTime >element.start)-->
                        <!--        tbl.rows[index].style.background = 'transparent';-->
                        <!--    if( audioPlayer.currentTime >= element.start && audioPlayer.currentTime <= element.end )-->
                        <!--        tbl.rows[index].style.background = 'LightCyan';-->
                        if (audioPlayer.currentTime >= element.start && audioPlayer.currentTime <= element.end)
                            document.getElementById("demo").innerHTML = finalTextList[index].text;
                    });
                });
            }
            tableCreate();
        }(window, document));
    </script>
    {% endblock %}